* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 1283px;
    margin: 0 auto;
    text-transform: capitalize;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    list-style: none;
}

li {
    list-style-type: none;
}

.header_logo {
    font-size: 80px;
    font-weight: 400;
    line-height: 93.75px;
    margin: 0 0 40px;
}

.logo-style {
    font-size: 80px;
    line-height: 93.75px;
    color: #4BCAFF;
    text-transform: lowercase;
}

.header_nav-list {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.header_nav-links {
    padding: 24px 32px 19px;
    border-left: 1px solid #FFFFFF;
}

.header_nav-links-list {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28.13px;
}

.nav_link-last {
    border-right: 1px solid #FFFFFF;
}

.header_nav-links:hover {
    background-color: #222F3A;
}

.header {
    margin-bottom: 49px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu_left-nav {
    width: 344px;
    border: 1px solid #000000;
}

.menu_left-nav-list-item {
    padding: 27px 0 25px 42px;
    font-size: 27px;
    line-height: 27px;
}

.menu_left-nav-list-item:hover {
    background-color: #DBDBDB;
    color: #0000;
    transition: 0.5s;
}

.menu_item-link {
    color: #495863;
}

.menu_item-link:hover {
    color: black;
    padding-left: 5px;
    transition: 0.3s;
}

.menu_right {
    width: 885px;
    margin-bottom: 41px;
}

.menu_right-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    margin-bottom: 37px;
    height: 529px;
}

.menu_right-img:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
}

.menu_right-info {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 0 0 13px;
}

.footer_nav {
    background-color: #63696E7A;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.footer_nav-list {
    display: flex;
    justify-content: space-between;
    width: 875px;
    align-items: center;
}

.footer_nav_links-list {
    padding: 13px 0;
}

.footer_nav_links-list {
    font-size: 28px;
    line-height: 28px;
}

.footer_link-last {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

.footer_nav_links-list:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer_nav-copyright {
    display: flex;
    align-items: center;
}